; socketTimeout is in milliseconds!
ConnStringMSSQL=jdbc:sqlserver://localhost:1433;database=DWH_DEV;user=sa;password=ghbyn200;encrypt=false;trustServerCertificate=false;loginTimeout=10;socketTimeout=5000;
ConnStringMSSQL2=jdbc:sqlserver://localhost:1433;database=DWH_DEV;user=sa;password=ghbyn200;encrypt=false;trustServerCertificate=false;loginTimeout=10;