@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<hr />

<ul style="text-align: left">
        <li>Visual Studio 2022</li>
        <li>.NET 6.0</li>
        <li>Project template: ASP.NET Core Web API</li>
        <li>AWS Elastic Beanstalk (LEGACY)</li>
        <li>Platform: .NET Core running on 64bit Amazon Linux 2/2.6.5</li>
</ul>

<hr />

<h3>Environment variables</h3>

    <div style="text-align: left">
        @{
            DateTime dateTime = DateTime.Now;
        }

        @{
            var environmentVariables = Environment.GetEnvironmentVariables();

            string[] vars = 
            { 
                "ASPNETCORE_ENVIRONMENT", "DOTNET_ENVIRONMENT",
                "AWS_ACCESS_KEY_ID", "AWS_SECRET_ACCESS_KEY", "AWS_DEFAULT_REGION", "AWS_SESSION_TOKEN", "AWS_PROFILE",
                "AWS_CONFIG_FILE", "AWS_SHARED_CREDENTIALS_FILE", "AWS_CA_BUNDLE"
            };
        }
    
        @foreach (string var in vars)
        {
                <p><b>@var:</b><br/> @Common.ResolveEnvironmentVariable(var)</p>
            }

        @foreach (string key in environmentVariables.Keys)
        {
            <p><b>@key:</b><br/> @environmentVariables[key]</p>
        }

        <hr />
        <p>Current Date: @dateTime.ToString("yyyy-MM-dd")</p>
    </div>
</div>
